# Claves de acceso para inicializar Firebase Admin en Netlify Functions
FIREBASE_PROJECT_ID=mi-proyecto-id
FIREBASE_CLIENT_EMAIL=mi-service-account@mi-proyecto-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIB... (usa comillas y saltos de línea literales \\n)\n-----END PRIVATE KEY-----\n"
